body{
	section{
		margin: 0 auto;
		width: 1024px;
		.museum{
			width: 200px;
			height: 100px;
			margin: 20px;
			position: relative;
			img{
				width: 200px;
				height: 100px;
			}
			.title{
				width: 200px;
				background: rgba(0,0,0,0.2);
				color: white;
				position: absolute;
				bottom: 0;
				height: 30px;
				vertical-align: middle;
				padding: 5px 10px;
				box-sizing: border-box;
			}
		}
	}
	footer{
		width: 100%;
		nav{
			height: 30px;
			float: left;
			a{
				display: block;
				width: auto;
				float: left;
				margin: 0 20px;
			}
		}
	}
}